@media (max-width: 600px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fff;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .nav-item {
      text-align: center;
      padding: 15px 0;
    }
    .hamburger {
      display: block;
    }
    header{
      width: 335px;
      height: 483px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0px 20px 24px 20px;
    }
    .hero-heading {
      font-size: 22px;
    }
    .hero-paragraph {
      font-size: 1em;
    }
    .search-form {
      width: 100%;
      flex-direction: column;
    }
    .search-input,
    .search-select,
    .search-btn {
      width: calc(100% - 20px);
      margin: 5px 10px;
    }
  }
  
@media (max-width: 600px) {
  .destination-grid {
      flex-direction: column;
      align-items: center;
  }
}
  