
body{
    width: 1440px;
    height: 6940px;
    background: #FFF;
    margin: auto;  
} 
/* header section style start  */ 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin:0px 127px 50px 135px;
  }
  .navbar-logo {
    display: inline-flex;
    margin-left: 16.5px;
    justify-content: space-between;
    align-items: center;
  

    
  }
  .navbar-logo img{
    width: 48px;
    height: 56.008px;
    

  }
  .travel{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
  }
  .travel span{
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;

  }
  .navbar-menu {
    list-style: none;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }
  .nav-item {
    padding: 0 15px;

  }
  .nav-link {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;

  }
  #nav-home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;

  }
  
  .nav-link:hover {
    color: #FF5400;
  }
  #nav-home:hover {
     color: #424247;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger div {
    width: 24px;
    height: 24px;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  .hero-section {
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:50px 135px 24px 135px;
  
  }
  
  .hero-heading {
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 64px;
    font-weight: 800;
  }
  .hero-paragraph {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 46px;
  }
  .search-form {
    width: 800px;
    margin: 0 auto;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
  }
  .search-input,
  .search-select,
  .search-btn {
    width: 174px;
    height: 52px;
    background: #FFF;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .search-btn {
    width: 174px;
    height: 52px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .search-btn img{
    width: 24px;
    height: 24px;

  }
  .search-btn:hover {
    color: #FF5400;
    background-color: #FFF;
  }
  /* header section style end  */

  /* popular tour section style start  */
.popular-tour-container{
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin:100px 135px 24px 135px;
}
.left-popular-tour-content{
  width: 540px;
  display: flex;
  flex-direction: column;
  
}
.tour-heading{
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-weight: 800;

}
.tour-para-one{
  width: 577px;
  color: rgba(19, 19, 24, 0.70);
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
.tour-list li{
  width: 525px;
  color: rgba(19, 19, 24, 0.70);
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 

}
.tour-para-two{
  width: 530px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
.read-btn{
  width: 174px;
  height: 52px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.read-btn:hover{
  color: #FF5400;
  background-color: #FFF;

}
.right-popular-tour-content{
  width: 540px;
  height: 550px;
  border-radius: 16px;

}
/* popular tour section style end  */

/* destination section style start  */
.destination {
  width: 1170px;
  height: 500px;
  margin:100px 135px 24px 135px;
}
.destination-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.destination-title {
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.destination-description {
  width: 643px;
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.destination-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}
.destination-item-one{
  width: 573px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-item-two{
  width: 573px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-item-three{
  width: 374px;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 6.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.destination-item-four{
  width: 474px;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 7.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.destination-item-five{
  width: 274px;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 9.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.destination-item-six{
  width: 473px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 11.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-item-seven{
  width: 673px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 10.png');
  background-repeat: no-repeat;
  background-size: cover;  
  
}
.destination-grid .image-text{
  color: #FFF;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding-top: 125px;

}
/* destination style end  */

/* why choose us section style start  */
 
.why-choose-us{
  width: 1170px;
  margin:750px 135px 24px 135px;
}

.why-choose-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why-choose-us-title{
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 307px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.why-choose-us-paragraph {
  width: 643px;
  height: 52px;
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 643px;
  height: 52px;
} 

.cards-container{
  display: flex;
  margin-top: 48px;
}

.card-one {
  width: 573px;
  height: 284px;
  text-align: left;
  padding-left: 32px;
  padding-top: 32px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
  margin-right: 24px;
}
.card-one img{
  width: 64px;
  height: 64px;

}

.card-two {
  width: 573px;
  height: 284px;
  text-align: left;
  padding-left: 32px;
  padding-top: 32px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  margin-bottom: 24px;
  
}
.card-two img{
  width: 64px;
  height: 64px;

}

.card-three {
  width: 573px;
  height: 284px;
  text-align: left;
  padding-left: 32px;
  padding-top: 32px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  margin-left: 300px;
 
  
}
.card-three img{
  width: 64px;
  height: 64px;

}

.card-tile{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.card-details {
  width: 486px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  
}
/* why choose us section style end */

/* deals and discount section style start */
.deals-and-discount{
  margin:100px 135px 24px 135px;

}
.deals-and-discount-content{
  align-items: center;
}
.deals-and-discount-title{
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-weight: 800;
}
.deals-and-discount-paragraph{
  width: 643px;
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 263px;
  line-height: 26px; 

}
.deals-and-details-image-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.deals-and-details-image-one{
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background: url('Images/Group\ 39.png'), lightgray 50% / cover no-repeat;

}
.deals-and-discount-card{
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  /* float: right; */
  padding-left: 50px;
  margin: 55px 56px 55px 500px;
 
}
.card-timing{
  display: inline-flex;
  justify-content: space-around;
  padding-right: 142px;
 
}
.day , .people , .place{
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  text-align: center;
  margin-right: 24px;
}
.day img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.people img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.place img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.deals-and-discount-card-title{
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 800;
}
.deals-and-discount-card-paragraph{
  width: 452px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.deals-and-discount-card-price{
  color: #FF5400;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.book-btn{
  width: 150px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border: none;
  cursor: pointer;

}
.book-btn:hover{
  color: #FF5400;
  background-color: #FFF;

}
.deals-and-details-image-two{
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background: url('Images/Group\ 40.png'), lightgray 50% / cover no-repeat;
  margin-top: 24px;
}
.deals-and-discount-card-two{
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  /* float: right; */
  padding-left: 50px;
  margin: 55px 500px 55px 56px;

}
.deals-and-details-image-three{
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  background: url('Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
  margin-top: 24px;
}
.deals-and-discount-card-three{
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  /* float: right; */
  padding-left: 50px;
  margin: 55px 56px 55px 500px;
}
.Package-btn{
  width: 210px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-top: 48px;
  margin-left: 480px;
  border: none;
  cursor: pointer;
}
.Package-btn:hover{
  color: #FF5400;
  background-color: #FFF;

}
/* deals and discount section style end */

/* perfact place section style start */
.perfact-place-container{
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin:100px 135px 24px 135px;
}
.left-perfact-place-content{
  width: 540px;
  display: flex;
  flex-direction: column;
  
}
.perfact-place-heading{
  width: 448px;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px; 
}
.perfact-place-paragraph{
  width: 532px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;  
}
.perfact-place-list li{
  width: 518px;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.perfact-place-para-two{
  width: 530px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
.see-btn{
  width: 174px;
  height: 52px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.see-btn:hover{
  color: #FF5400;
  background-color: #FFF;

}
.right-perfact-place-content{
  width: 610px;
  height: 424px;
  border-radius: 16px;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group 40089.png');
  margin-left: 28px;
}
.right-perfact-place-content-text{
  width: 276px;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin:126px 180px ;
}
.left-perfact-place-items{
  display: inline-flex;
  margin-left: 24px;
  float: left;

}
.line-bar{
  width: 24px;
  height: 24px;

}
.times{
  color: #F3F3F3;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;

}
.right-perfact-place-items{
  display: inline-flex;
  float: right;
  margin-top: 355px;
}
.volume{
  width: 24px;
  height: 24px;
}
.maximize{
  width: 24px;
  height: 24px;
}
.line-dot{
  width: 24px;
  height: 24px;
}
/* perfact place section style end */

/* newsletter section style start  */
.newsletter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:100px 135px 24px 135px;

}
.newsletter-left-content{
  width: 474px;
  height: 445px;
  border-radius: 16px;
  border: 1px solid #FF5400;
  display: flex;
  flex-direction: column;
  

}
.newsletter-title{
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: 40px;
}
.newsletter-paragraph{
  width: 350px;
  color: #5A5A5D;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin-left: 40px;
  margin-top: 16px;

}
hr{
  width: 393px;
  height: 1px;
  background: rgba(195, 195, 202, 0.486);
}
.newsletter-form{
  margin-top: 24px;
}
.newsletter-form-input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(195, 195, 202, 0.486);
  color: rgba(19, 19, 24, 0.30);
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-left: 40px;
  margin-bottom: 24px;
  padding-left: 20px;
}
.subscribe-btn{
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-left: 40px;
  border: none;
  cursor: pointer;

}
.subscribe-btn:hover{
  color: #FF5400;
  background-color: #FFF;

}
.newsletter-right-content{
  width: 672px;
  height: 422px;
  border-radius: 16px;
  background: url('Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;


}
.newsletter-right-content-text{
  text-align: center;
  margin-left: 340px;
  margin-top: 250px;
  
}
.travel-box{
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #FF5400;

}

.travel-box-span{
  transform: rotate(-19.628deg);
  color: #FFF;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-top: 24px;
  }
#travels{
  transform: rotate(-19.628deg);
  color: #FFF;
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 800;
}
/* newsletter section style end  */

/* footer section style start  */
.footer-section{
  width: 1440px;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;

}
.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer{
  display: flex;

}
.footer img{
  width: 40px;
  height: 46.673px;
  margin-top: 110px;

}
.footer-title{
  color:  #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin-top: 110px;
  margin-left: 16px;
}
.footer-title-span{
  color: #FF5400;
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin-top: 110px;
}
.footer-paragraph{
  width: 769px;
  color: #5A5A5D;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
.social-icon-container{
  width: 174.322px;
  height: 24px;
  margin-left: 633px;
  display: flex;
  padding-top: 33px;


}
.social-icon-container  i {
  padding-left: 30px;
}

.footer-line {
  width: 872px;
  height: 1px;
  background:  #5A5A5D;
  margin-top: 50px;
}
.footer-text{
color: #131318;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 300;
margin-left: 624px;
margin-top: 50px;

}
/* footer section style end  */


@media only screen and (max-width: 600px) {
  body {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar >ul {
    display: flex;
    flex-direction: column;
  }
  header {
    flex-direction: column;
    padding-top: 20px;
  }
/* 
  .navbar-logo img {
    width: 32px; 
  }
  .nav-item {
    text-align: center;
    padding: 15px 0;
  } */
  .hamburger {
    display: block;
  }

  .travel,
  .travel span {
    font-size: 24px;
  }

.hero-section{
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}
.hero-heading{
  font-size: 1.25rem;
  padding-top: 32px;
}
.hero-paragraph{
  font-size: 0.875rem;
}
  .search-form {
    display: flex;
    flex-direction: column; 
    width: 287px;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
  
  }
  

  .search-input, .search-select, .search-btn  {
    padding: 16px;
    margin-bottom: 16px;
    width: 255px;
    height: 52px;

  }

  .popular-tour-container {
    flex-direction: column;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tour-heading {
    font-size: 1.25rem;
  }

  .tour-para-one, .tour-para-two{
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .read-btn {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .right-popular-tour-content > img {
    width: 100%;
    height: 100%;
  }

  .destination-container {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }


  .destination-grid > img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }

  .why-choose-us-content {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .cards-container {
    flex-direction: column;
    margin-top: 16px;
  }
  .why-choose-us-content img {
    margin-bottom: 16px;
  }

  .card-one,
  .card-two,
  .card-three {
    width: auto;
    height: auto;
  }

  .card-one {
    margin-bottom: 16px;
  }

  .newsletter-left-content {
    margin-top: 24px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .newsletter-title {
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-top: 24px;
  }

 .newsletter-paragraph{
    margin-bottom: 16px;
  }

   hr {
    width: auto;
  }

  .newsletter-form {
    margin-top: 16px;
  }

  .newsletter-form-input {
    width: auto;
    height: 52px;
    padding-left: 20px;
  }

  #subscribe-btn {
    width: auto;
    height: 52px;
    border-radius: 8px;
  }

  .newsletter-right-content{
    margin-top: 16px;
    width: 100%;
    height: 100%;
  }

  #travels {
    position: absolute;
    width: 214.023px;
    height: 79.268px;
    right: 10px;
    bottom: 10px;
    transform: rotate(-19.628deg);
    font-size: 21.138px;
  }

  .travel-box-span {
    font-size: 15.854px;
  }

  .travel-box {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0px;
  }

  .footer-section {
    width: auto;
    height: auto;
    margin-top: 24px;
  }

  .footer-container {
    padding-top: 33px;
  }


  .social-icon-container {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .social-icon-container > i {
    padding-left: 15px;
  }

 .footer-line {
    width: 335px;
  }

  .footer-text {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 31px;
  }
}